body{
font-family: Arial;
text-align: center;
background-color: #f2f2f2;
padding: 20px;
}

h1{
color: blue;
}

h2{
color: darkgreen;
}

nav{
margin: 20px;
}

nav a{
margin: 15px;
text-decoration: none;
font-weight: bold;
font-size: 18px;
color: black;
}

nav a:hover{
color: blue;
}

p{
font-size: 18px;
}
